html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.h-100 {
  height: 100vh !important;
}

.bold-hr {
  border: 0;
  height: 1px;
  background-color: #ffffff;
}
#offcanvasScrolling .btn {
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#offcanvasScrolling .dropdown-icon {
  transition: transform 0.3s ease;
}
#offcanvasScrolling .dropdown-icon.rotate {
  transform: rotate(180deg);
}
.cesium-infoBox {
  max-height: none !important;
  max-width: none !important;
}

.cesium-infoBox .cesium-infoBox-description {
  overflow: auto !important;
  max-height: 80vh;
  max-width: 80vw;
}

.legend-container {
  display: none;
  margin-top: 15px;
}
.legend-container.show {
  display: inline-block;
}
.legend-bar {
  height: 20px;
  width: 100%;
  background: linear-gradient(to right, #440154, #482878, #3e4a89, #31688e, #26828e, #1f9e89, #35b779, #6ece58, #b5de2b, #fde725);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.legend-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 5px;
}

.legend-icon {
  width: 24px;
  height: 24px;
  background-image: url('https://raw.githubusercontent.com/mapbox/maki-icons/main/icons/building-15.svg'); /* Maki Icon URL */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.legend-text {
  font-size: 0.9rem;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}